.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: rgb(238, 238, 238);
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.nav {
  overflow: hidden;
  /* background-color: #ED4337; */
}

.nav-link {
  float: left;
  color: rgb(238, 238, 238);
  /* background-color: #ED4337; */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  


  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:active {
  background-color: #ffffff35;
}

.nav-right {
  float: right;
}