.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #ffffff;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
  overflow: hidden;
  /* background-color: #ED4337; */
}

.nav-link {
  float: left;
  color: #ffffff;
  /* background-color: #ED4337; */
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;


  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #00f21c22;
}

.nav-right {
  float: right;
}